@media (max-width: 500px) {
  
  .WhyUsSection {
    width: auto !important;
    height: 1299px!important;
  }
  .Title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 315px;
    height: 30px;
    font-size: 30px;
    line-height: 45px;
    margin: 56px 30px 63px 30px!important;
  }

  .DifferentialBox {
    display: flex!important;
    flex-direction: column!important;
    /*  se eu estabelecer as medidas de baixo, o titulo sobe sobre
    o icone */
    height:2000px!important;
    width: 100%!important;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;

  }

  .Differential {
    display: flex!important;
    flex-direction: column!important;
    align-content: center!important;
  }

  .DifferentialLogo {
    display: flex;
    width: 79px;
    height: 79px;
    /* margin:  0px; */
    margin: 64px 148px 31px 148px!important;
    justify-content: center;
    margin-right: 0px;
  }

  .DivSuporte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .Text {
    width: 315px!important;
    height: 80px!important;
    font-weight: 400px!important;
    font-size: 15px!important;
    line-height: 22.5px!important;
    text-align: center!important;
    margin: 15px 185px 9px 185px!important;
  }

  .DescriptionDifferential {
width: 315px;
height: 81px;
font-size: 15px;
line-height: 22.5px;
text-align: center;
margin: 9px 30px 35px 30px;

  }
}

@media (max-width: 500px) {
.AboutUs {
/* display: flex;
flex-direction: column; */
width: 375px!important;
height: 1509px!important;
margin-bottom: 400px;

}

.CardsBox{
  display: flex!important;
flex-direction: column!important;

}

.Card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 249px;
  height: 392px;
  margin:31px 63px 20px 63px;
}

.ProfilePicture {
  width: 121px;
  height: 120px;
  border-radius: 50%;
  margin: 32px 64px 8px 32px;

}

.Text1 {
width: 197px;
height: 17px;
font-weight: 600px;
font-size: 18px;
line-height: 27px;
text-align: center;
margin: 8px 26px 10px 26px;
}

.DescriptionSkills {
text-align: center;
width: 225px;
height: 175px;
margin: 10px 12px 10px 12px ;
}

.SecondaryButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
width: 160px;
height: 39px;
margin: 20px 108px 63px 108px;

}


}

